@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Helvetica, sans serif;
}

#content {
	width:960px;
	margin: auto;
}

#projects {
	width:900px;
	margin: auto;
	text-align: center;
	border: grey;
}

#menu {
	width: 960px;
	margin: 100px auto 20px	 auto;
}

#menu a {
	margin-right: 20px;
}